<h1>The PSIPRED Protein Sequence Analysis Workbench</h1>
<p>The PSIPRED Protein Sequence Analysis Workbench aggregates several UCL structure prediction methods into one location. Users can submit a protein sequence, perform the predictions of their choice and receive the results of the prediction via e-mail or the web.<br />
  For a summary of the available methods you can read <span class="content_link"><a href="http://bioinf.cs.ucl.ac.uk/index.php?id=779" target="_blank">More...</a></span></p>
<p>NOTE: users who need to run our methods on a large number of proteins should consider downloading our software using the menu on the left (Server Navigation -> Software Download).</p>
<p><b>The PSIPRED Team</b><br />
  <b>Current Contributors</b> David T. Jones, Daniel Buchan, Tim Nugent, Federico Minneci & Kevin Bryson<br />
  <b>Previous Contributors</b> Anna Lobley, Sean Ward, Liam J. McGuffin</p>
<p><b>For queries regarding PSIPRED:</b> <span class="content_link"><a href="mailto:psipred@cs.ucl.ac.uk">psipred@cs.ucl.ac.uk</a></span></p>
<%= render "layouts/warning_message" %>

<%= pretty_error_messages_for :job %>
<br />

<%= render :partial => "/layouts/google_analytics" %>
