<HTML>
<HEAD>
  <META   NAME    = "Description"
          CONTENT = "BioSerf Protein Structure Prediction Server" >

  <META NAME="ROBOTS" CONTENT="NOARCHIVE">

  <META name="Keywords" content="SECONDARY STRUCTURE PREDICTION MEMBRANE TRANSMEMBRANE MEMSAT SOFTWARE JONES UCL BIOINFORMATICS PREDICTION MODELING GenTHREADER PSIPRED FOLD RECOGNITION">

  <TITLE>BioSerf Protein Structure Prediction Server</TITLE>
</HEAD>
<tr>
  <td COLSPAN="2" BGCOLOR="#ffffff">
    <a HREF="http://bioinf.cs.ucl.ac.uk"><img src="http://bioinf.cs.ucl.ac.uk/graphics/bbg3.jpg" width='891' height='82' border='0' valign='middle'></a>
  </td>
</tr>

<%= form_tag("/submit", :method => "get") do %>
  <p>Job Name:
  <%= text_field_tag("name")%> </p>

  <p>Job Type:
  <%= select_tag "job_type", "<option>NewPred</option><option>mGenThreader</option><option>TestPred</option><option>ModifiedNewPred</option>"%></p>
  <p>Sequence:
  <%= text_area_tag "sequence", "", :size => "70x5"%></p>
  <p>Configuration:<br>
  <%= select "newjob", "configuration_id", Configuration.find(:all).collect { |p| [p.name, p.id ] } %></p><br>

  <%= submit_tag("Predict")%>
<% end %>
