<h3>Job Complete!</h3>
<p>
	Your PSIPRED Structure Workbench job is complete. You can view the results and download files at:
	<br />
	<a href="http://bioinf.cs.ucl.ac.uk/structure/result/<%= @jobUUID %>" target="_blank" title="Opens in a new window or tab">http://bioinf.cs.ucl.ac.uk/structure/result/<%= @jobUUID %></a>
</p>
