<h1>TestHarness#import_fasta</h1>
<p>Find me in app/views/test_harness/import_fasta.rhtml</p>

<% form_tag(:action => "do_import_fasta") do %>
  <p>FASTA Directory: <br>
  <%= text_field_tag("fasta_dir", "/home/sward/CASP7_benchmark/sequences/", :size => "75")%> </p>
  <%= submit_tag("Parse Directory")%>
<% end %>