<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<% form_tag(:action => "create_test_set") do %>
  <p>New Test Set Name: <br>
  <%= text_field_tag("name", nil, :size => "75")%> </p><br>
  <p>Description: <br>
  <%= text_field_tag("description", nil, :size => "75")%> </p><br>
  <%= submit_tag("Create Set")%>
<% end %>