<table>
  <tr class="form_subtitle"><td><h4>FFPred3 Downloads</h4></td></tr>
<% results.each do |job_state|
      if job_state.status_class == 87 %>
        <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">FFPred 3 : prediction results</a></h4></td></tr>
     <% end
   end %>

    <% results.each do |job_state|
      if job_state.status_class == 90 %>
        <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">FFPred 3 : all SVM outputs</a></h4></td></tr>
     <% end
   end %>

</table>