</div ><!--Content div end-->
</div><!--end row div-->

</div><!--Container div end-->
<!-- ###BODY### end -->

<div id="BioSerfAlert" title="BioSerf">
	<p id="alert">
		Ensure you enter your valid MODELLER key via the BioSerf tab.
	</p>
</div>

<div id="MSAAlert" title="MSA">
	<p id="alert">
		You input looks like it may be a multiple sequence alignment, please ensure it is in valid fasta format and that all sequences are the same length
	</p>
</div>

<div id="AnalysisAlert" title="Analysis">
	<p id="alert">
		You have selected every analysis. The run time will typically be around 5 to 6 hours. You may wish to select fewer specific analyses
	</p>
</div>

<div id="MetsiteAlert" title="Metsite">
	<p id="alert">
		Metsite will only analyse one chain in the PDB file at a time
	</p>
</div>

<div id="HSPredAlert" title="HSPred">
	<p id="alert">
		There must be at least 2 chains in your PDB file.
	</p>
</div>

<div id="MakeTDBAlert" title="MakeTDB">
	<p id="alert">
		MakeTDB will only analyse single chain PDB files.
	</p>
</div>

<div id="MemembedAlert" title="Memembed">
	<p id="alert">
		Memembed will only process membrane proteins.
	</p>
</div>

</body>
</html>

