<table>
  <tr class="form_subtitle"><td><h4>MEMPACK Intermediate Files</h4></td></tr>
  <%  @job_results.each do |job_state|
    if (job_state.status_class == 45) %>
      <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">Graph Results Download</a></h4></td></tr>
    <% end
  end
  #print out download links to mempack intermediate files if generated
  @job_results.each do |job_state|
    if (job_state.status_class == 46) %>
      <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">Lipid Results Download</a></h4></td></tr>
    <% end
  end
  #print out download links to mempack intermediate files if generated
  @job_results.each do |job_state|
    if (job_state.status_class == 47) %>
      <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">Contact Results Download</a></h4></td></tr>
    <% end
  end %>
</table>