<table>
<tr class="form_subtitle"><td><h4>Memembed Downloads</h4></td></tr>
<%  results.each do |job_state|
     if job_state.status_class == 6 %>
     <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">Oriented Membrane structure PDB file</a></h4>
       </td></tr>
  <% end
   end %>
   
<%  results.each do |job_state|
     if job_state.status_class == 100 %>
     <tr><td><h4><a href="<%= url_for(:controller => "bio_serf", :action => "getresultattached", :id => job_state.id) %>">Energy Calculation Output</a></h4>
       </td></tr>
  <% end
end %>
   
   
</table>