<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div>
  <form>
    <script type="text/javascript">
      jmolInitialize("/", "JmolApplet.jar");
      <% if @genome3d == 1%>
      jmolApplet(480, "load <%= url_for( :controller => "bio_serf",
                                    :action => "getresultattachedgenome3d",
                                    :id => pdb_result.id) %>; cpk off; wireframe off; cartoon; color cartoon structure; ");
      <% elsif @job.program_memembed == 1 %>
      jmolApplet(480, "load <%= url_for( :controller => "bio_serf",
                                    :action => "getresultattached",
                                    :id => pdb_result.id) %>; cpk off; wireframe off; cartoon; color cartoon structure; rotate -x 90; select hetero; cpk on; spacefill;  ");
      
      <% else %>
      jmolApplet(480, "load <%= url_for( :controller => "bio_serf",
                                    :action => "getresultattached",
                                    :id => pdb_result.id) %>; cpk off; wireframe off; cartoon; color cartoon structure; ");
      <% end%>
    </script>
  </form>
</div>
