<head>
  <title>Report for <%= @report.name%></title>
</head>
<body>
  <strong>Binary: </strong><%= @report.binary%><br>
  <strong>Binary Type: </strong><%= @report.get_bin_name%><br>
  <strong>Description: </strong><%= @report.description%><br>
  <strong>Created at: </strong><%= @report.created_at%><br>
  <strong>Last Run: </strong><%= @report.last_run.nil? ? "never" : @report.last_run %><br>
  <strong>Reference Model: </strong><%= ModelType.find(@report.ref_model_type_id).name%><br>
  <strong>Comparison Models: </strong><br>
  <% for model_type in @report.model_types%>
                  <%= "#{model_type.name} of size #{model_type.test_models.count}"%><br>
  <%end%>
  <br><br>
  <%= button_to "Run Report", { :action => 'do_run_report', :id => @report.id } %>
  <br><br>
  <% for entry in @entries %>
                 <%= render :partial => 'report_entry_detail',
                                :locals => {:report => @report, :ref_entry => entry["ref_entry"], 
                                :entries => entry["stats"], :bgcolor => "#ccc"} %>
  <% end %>
</body>